$primary-color: green;

@font-face {
  font-family: 'montserratbold';
  src: url('./assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'),
    url('./assets/fonts/Montserrat/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratregular';
  src: url('./assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'),
    url('./assets/fonts/Montserrat/Montserrat-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: $primary-color;
  margin: 0;
  padding: 20px;
}

.new-font {
  font-family: 'montserratbold', sans-serif;
}

.banner {
  // background-image: url('./assets/images/image-1.png');
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  // min-height: 100vh;
  // min-width: 100vh;
}
